@{
    ViewData["Title"] = "Cadastrar saída";
}

<div class="text-center">
    <h1 class="display-4">Cadastrar saída de mercadoria</h1>
</div>

<form>
    //Formulário de remoção de mercadorias
</form>