@{
    ViewData["Title"] = "Relatório de saída de mercadorias";
}

<div class="text-center">
    <h1>Relatório de saídas aqui!</h1>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Saida" asp-action="Index">Voltar</a>
    </div>
</div>
